@media (min-width: 782px) {
  .wp-block-acme-card {
    padding: 20px;
    color: var(--wp--preset--color--primary);
    border-radius: 4px;
  }

  .wp-block-image {
    margin: 0;
  }
}

@supports (display: grid) {
  .wp-block-acme-card {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: minmax(0, 1fr) auto;
  }
}
